.App {
  text-align: center;
  margin: 0px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.mb{
  margin-bottom: 3%;
}

.mb2{
  margin-bottom: 10%;
  text-align: center;
}

.reciept-header{
  text-align: initial;
  padding: 0px 8%;
  font-weight: bold;
}

.action{
  justify-content: space-around !important;
}
.qtyfield {
  width: 25%;
  text-align: center;
  margin: 0px 8px !important;
    .MuiFilledInput-root{
      background-color: transparent;
      border-style: solid;
      border-width: thin;
      border-color: #8080802b;
      border-radius: 4px;
      &::after,&::before{
        border-bottom: none;
      }
    }

    input{
      text-align: center;
    }

    #filled-start-adornment-label{
      font-size: 0.8rem;
    }

    .MuiInputBase-inputAdornedStart{
      height: 0.8em;
      text-align: start;
    }
    
}

.product_description{
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.roundedBtn{
  padding: 0.5rem;
  margin-left: 0px !important;
  padding: 0px
}

.container {
  width: 90%;
  margin: 5% auto;
}

.totalContainer {
  width: 70%;
  margin: 3% auto;
}

.itemsContainer {
  width: 90%;
  margin: 3% auto;
}

.item_img{
  margin: 10% auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
